/APPClient/bin
/APPClient/obj

/BLL/bin
/BLL/obj

/Common/bin
/Common/obj

/DAO/bin
/DAO/obj

/Model/bin
/Model/obj

/ModelDTO/bin
/ModelDTO/obj

/ViewModelMap/bin
/ViewModelMap/obj

/MSCore/bin
/MSCore/obj
/MSCore/.vs

/SSO/bin
/SSO/obj
/SSO/.vs

/WebMVC/bin
/WebMVC/obj
/WebMVC/.vs

/WebMVC1/bin
/WebMVC1/obj
/WebMVC1/.vs



