@{
    ViewData["Title"] = "Login";
}

    <script type="text/javascript">
    function post_test()
    {
        $.post("/Account/Logout", null, function (data) {
            //$('#lbl_show').text(data);
        });
    }
    </script>

<h1>Login</h1>

<div align="center">
    <h1>统一认证登录中心</h1>
    <form action="/Account/Login" method="post">
        用户名：<input type="text" name="userName" /><br />
        密 码：<input type="password" name="password" /><input type="hidden" name="returnUrl" value="@ViewData["returnUrl"]" /> <br />
        <input type="submit" value="登录" />
        <a class="btn btn-default" href="/Account/Logout">退出</a>    
    </form>
</div>

